@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin grey($g) {
    @if type-of($g) == number {
        color: unquote("##{$g}#{$g}#{$g}");
    } @else {
        @warn "Mate";
    }
}

@mixin screen-edge($parent-width) {
    @if $parent-width >= 0% and $parent-width <= 100% {
        // Assume width is %
        $distance-to-edge: (100% - $parent-width) / 2;
        padding-left: $distance-to-edge;
        margin-left: $distance-to-edge * -1;
        padding-right: $distance-to-edge;
        margin-right: $distance-to-edge * -1;
    } @else {
        @warn "Must be between 0 and 100%";
    }
}