@include test-module ('Mixin Tests Matey') {
    @include test ('@mixin border-radius') {
        @include assert {
             @include output{
                @include border-radius(5px);
            }
            @include expect {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
            }
        }
    }
}


@include test-module ('Grey mixin test') {
    @include test ('@mixin grey happy path') {
        @include assert {
            @include output {
                @include grey(2f);
            }
            @include expect {
                color: #2f2f2f;
            }
        }
    }
    @include test ('@mixin grey unhappy path') {
        @include assert {
            @include output {
                @include grey('abc');
            }
            @include expect {
                @warn "Mate";
            }
        }
        @include assert {
            @include output {
                @include grey(#242526);
            }
            @include expect {
                @warn "Mate";
            }
        }
    }
}

@include test-module ('Screen-edge tests') {
    @include test ('happy paths') {
        @include assert {
            @include output {
                @include screen-edge(90%);
            }
            @include expect {
                padding-left: 5%;
                margin-left: -5%;
                padding-right: 5%;
                margin-right: -5%;
            }
        }
        @include assert {
            @include output {
                @include screen-edge(100%);
            }
            @include expect {
                padding-left: 0%;
                margin-left: 0%;
                padding-right: 0%;
                margin-right: 0%;
            }
        }
    }
    @include test ('unhappy paths') {
        @include assert {
            @include output {
                @include screen-edge(101%);
            }
            @include expect {
                @warn "Must be between 0 and 100%";
            }
        }
        @include assert {
            @include output {
                @include screen-edge(-1%);
            }
            @include expect {
                @warn "Must be between 0 and 100%";
            }
        }
    }
}