@include test-module ('Mixin Tests Matey') {
    @include test ('@mixin border-radius') {
        @include assert {
             @include output{
                @include border-radius(5px);
            }
            @include expect {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
            }
        }
    }
}